/* Get fonts */
@import url("../assets/fonts/stylesheet.css");

/* Set custom values */
:root {
  --text-clr: #ffffff;
  --menu-btn-padx: 2.5vw;
  --menu-btn-pady: 2.5vh;
  --menu-text-size: calc(4.5rem - 5ex);
  --icon-size: 50px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set the default background image */
body {
  width: auto;
  height: 100vh;
  background-image: linear-gradient(#1e3a8a, #3b82f6);
}

/* Style menu tab */
#content.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Change order of menu buttons */
.btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Style menu buttons */
.menu-btn {
  font: 600 var(--menu-text-size) "Open Sans";
  padding: var(--menu-btn-pady) var(--menu-btn-padx);
  background-color: #3b82f6;
  color: var(--text-clr);
  border: 1px solid #6b7280;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 4px #e5e7eb25;
}

/* Alter menu buttons when hovered */
.menu-btn:hover {
  --added-size: 10px;
  background-color: #1e3a8a;
  font-size: calc(var(--menu-text-size) + var(--added-size));
  padding: calc(var(--menu-btn-pady) + var(--added-size))
    calc(var(--menu-btn-padx + var(--added-size)));
  box-shadow: 4px 4px 4px #00000025;
  border: 1px solid #00000025;
}

/* Dynamically resize website logo according to device height & width. */
#web-logo {
  height: 25vh;
  width: auto;
  object-fit: contain;
}

/* Style choose-gamemode dialog */
.cg-dialog {
  background-color: #3b82f6;
  display: flex;
  flex-direction: column;
  color: var(--text-clr);
  border: 0;
  border-radius: 5px;
  padding: 35px 30px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 30px;
  gap: 20px;
  box-shadow: 4px 4px 4px #e5e7eb25;
}

#cg-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cg-input-group {
  display: flex;
  gap: 10px;
}

.cg-buttons {
  display: flex;
}

.cg-option {
  background-color: white;
  color: black;
  padding: 0 35px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cg-buttons {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.cg-buttons button {
  height: var(--icon-size);
  width: var(--icon-size);
  object-fit: cover;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.cg-confirm {
  background-color: #00ff00;
}

.cg-cancel {
  background-color: #ff0000;
}

#cg-value {
  cursor: pointer;
}

/* Style custom select */
.select-viewable {
  display: flex;
  gap: 5px;
}

.dropdown-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  object-fit: cover;
  border-radius: 5px;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.optList {
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

.option {
  background-color: #3b82f625;
  color: black;
  padding: 0 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option:not(:last-child) {
  border-bottom: 1px solid #00000025;
}
